*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


.header {
    border-bottom: 1px solid #e7e9fc;

    & .container {
        display: flex;
    }

    &__navigation {
        display: flex;
        align-items: center; 

        &__logo {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: .03em;
            text-transform: uppercase;
            color: #4d5ae5;
            margin-right: 76px;
            
            &-studio {
                color: #2e2f42;
            }
        }
        
        &__list {
            display: flex;
            gap: 40px;


            &-item {
                
                &__link {
                    padding: 24px 0;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: .02em;
                    color: #2e2f42;
        
                    &:hover {
                        color: #404bbf;
                    }
        
                    &:focus{
                        color: #404bbf;
                    }
                }
            }
        }

        &__contact{
            font-style: normal;

            &-list{
                display: flex; 
                gap: 40px;

                &__link{
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: .02em;
                    color: #434455;
    
                    &:hover {
                        color:#404bbf;
                    }
    
                    &:focus {
                        color: #404bbf;
                    }
                }
            }
        }
    }
}


.hero-section {
    background-color: #2e2f42;
    padding: 188px 0;

    &__title {
        max-width: 496px; 
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: .02em;
        color: #fff;
    }

    &__button {
        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: .04em;
        color: #fff;
        cursor: pointer;
        display: block; 
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;

        &:hover {
            background-color: #404bbf;
        }
        &:focus {
            background-color: #404bbf;
        }
    }
}

.how-we-work {
    padding: 120px 0;

    &__title,
    &__list-item__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: .02em;
        color: #2e2f42;
    }

    &__list {
        display: flex;
        gap: 24px;

        &-item {
            width: calc((100% - 72px) / 4);

            &__title {
                margin-bottom: 8px;
            }

            &_desc {
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: .02em;
                color: #434455;
            }
        }
    }

}


.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;

    &__title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: .02em;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
    }
    &__list{
        display: flex;
        gap: 24px; 

        &-member {
            background-color: #fff;
            width: calc((100% - 72px) / 4); 
            border-radius: 0px 0px 4px 4px;
            
            &__container {
                padding: 32px 0;


                &-name {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: .02em;
                    color: #2e2f42;   
                    text-align: center;
                    margin-bottom: 8px;         
                }
        
                &-job {
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: .02em;
                    color: #434455;
                    text-align: center; 
                }
            }
        }
    }
}

.our-portfolio {
    padding: 120px 0;

    &__title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: .02em;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;

        &-item {
            width: calc((100% - 48px) / 3); 
            padding: 32px 16px;
            border: 1px solid #e7e9fc; 
            border-top: none; 

            &__container {
                padding: 32px 16px;
                border: 1px solid #e7e9fc;
                border-top: none; 

                &-name {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: .02em;
                    color: #2e2f42;
                    margin-bottom: 8px;
                    
                }
        
                &-type {
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: .02em;
                    color: #434455;
                }
            }
        }
    }
}

.footer-section {
    background-color: #2e2f42;
    padding: 100px 0;


    &__logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: .03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;

        &-studio {
            color: #f4f4fd;
        }
    }

    &__text {
        line-height: 1.5;
        color: #F4F4FD;
        letter-spacing: .02em;
        max-width: 264px;
    }

}